@model Firmness.Admin.Web.ViewModels.Sales.SaleFormViewModel

<form asp-action="Create" method="post" class="row g-3">
    @Html.AntiForgeryToken()

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="Id" type="hidden" />

    <div class="form-group">
        <label asp-for="CustomerId" class="control-label"></label>
        <select asp-for="CustomerId" class="form-control" asp-items="Model.Customers"></select>
        <span asp-validation-for="CustomerId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TotalAmount" class="control-label"></label>
        <input asp-for="TotalAmount" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="TotalAmount" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label class="control-label">Total Amount</label>
        @Html.DisplayFor(m => m.TotalAmount, "{0:C}")
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary"/>
    </div>
</form>